.brand {
    color: white;
}

.navLink {
    color: white;
}

.btnGuide {
    background-color: #42d5ba;
    color: white;
}

.brand:hover, .navLink:hover  {
    color: #42d5ba;
}

.btnGuide:hover {
    background-color: #05d4ae;
    color: black;
}

.navbarToggler {
    background-color: #42d5ba;

}