.nav {
    z-index: 100;
    color: white;
}

.brand {
    font-size: 28px;
    color: white;
    font-weight: bolder;
}

.navLink {
    color: white;
}

.navLink:hover {
    color: #42d5ba;
}

.navbarToggler {
    background-color: #42d5ba;
}

.btnGuide {
    background-color: #42d5ba;
    border-radius: 0;
    border-color: #42d5ba;
}

.btnGuide:hover {
    background-color: #03c3a0;
    color: black;
    border-color: #03c3a0;
}
